<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
    <style>
        
        #tab{
            width: 80%;
            border: 1px solid #dee2e6;
            margin: 0 auto;
            margin-bottom: 40px;
            background-color: rgb(247, 247, 247);
        }
        .a{
            width: 20%;
            margin: 0 auto;
            font-size: 1.6rem;
        }
        h1{
            width: 180px;
            margin: 0 auto;
            margin-bottom: 30px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>All Shows</h1>
    
    
    <table class="table" id="tab">
        <caption>List of Shows</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col">Release Date</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for i in allshows%}
        <tr>
            <td> {{i.id}} </td> 
            <td> {{i.title}} </td>
            <td> {{i.network}} </td>
            <td> {{i.release_date}} </td>  
            <td> {{i.description}} </td> 
            <td><a href="/shows/{{i.id}}"> Show </a>-<a href="/edit/{{i.id}}"> Edit </a>-<a href="/destroy/{{i.id}}"> Delete </a></td>
            
        </tr>
            {% endfor %}
          
        </tbody>
      </table>
      <div class="a">

        <a href="/addnewShow">Add a new Show</a>
      </div>
      
</body>
</html>