<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all fav books</title>
    <style>
        div{
            
            width: 30%;
            margin: 0 auto;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div>
    <h1>{{current_user.first_name}} {{current_user.last_name}} favarite list:</h1>
    {% for i in allfav%}
    <h2>{{i.id}}: {{i.title}}</h2> <a href="/books/{{i.id}}">Show</a>
    {%endfor%}
</div>
</body>
</html>